[xfdesktop-version-4.10.3+-rcfile_format]
4.10.3+=true

[/home/hassan4350/deja-dup]
row=2
col=1

[/home/hassan4350/self]
row=5
col=0

[/home/hassan4350/pictures]
row=4
col=0

[/home/hassan4350/downloads]
row=0
col=1

[/home/hassan4350/bank]
row=1
col=1

[/home/hassan4350/npm]
row=3
col=0

[/home/hassan4350/media]
row=6
col=0

[/home/hassan4350/haskell]
row=3
col=1

[Trash]
row=0
col=0

[/]
row=1
col=0

[/home/hassan4350]
row=2
col=0

