[xfdesktop-version-4.10.3+-rcfile_format]
4.10.3+=true

[/home/hassan4350/add.hs]
row=1
col=2

[/home/hassan4350/addfive.hs]
row=2
col=2

[/home/hassan4350/desktop]
row=1
col=1

[/home/hassan4350/downloads]
row=0
col=1

[/home/hassan4350/pictures]
row=4
col=0

[/home/hassan4350/wherepenguinslive.hs]
row=4
col=1

[/home/hassan4350/mflip.hs]
row=0
col=2

[/home/hassan4350/mth.hs]
row=2
col=1

[/home/hassan4350/videos]
row=3
col=0

[/home/hassan4350/registereduser.hs]
row=5
col=1

[/home/hassan4350/haskell]
row=3
col=1

[/home/hassan4350/music]
row=5
col=0

[Trash]
row=0
col=0

[/]
row=1
col=0

[/home/hassan4350]
row=2
col=0

